/* Variables */
/* Mixins */
/* Base styling */
body {
  position: relative; }

p {
  margin-bottom: 20px; }

nav .brand-logo {
  display: inline-block;
  padding-left: 20px; }

.product-container {
  margin-top: 60px; }

/* Nav styling */
.brand-logo {
  display: block;
  margin-right: 20px; }

/* Footer styling */
footer {
  margin: 0; }

/* Product page styling */
h1.product-title {
  margin-top: 0; }

.rated {
  color: #f1c40f; }

.reviews-top {
  margin-bottom: 40px; }
  .reviews-top .review-top-txt {
    margin-bottom: 20px; }

/* Start rating form */
.primary-img {
  width: 100%; }

.gallery-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  float: left;
  margin: 5px 5px 0 0; }

.show {
  display: block; }

.tabs .tab a {
  color: #009688; }
.tabs .tab a.active {
  color: #009688; }
.tabs .tab a:hover {
  color: #009688; }
.tabs .indicator {
  background-color: #009688; }

.cart-btt {
  margin-left: 20px; }

/* Products page styling*/
#price-slider {
  margin-top: 40px; }

.review-meta {
  display: block;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin-top: 10px; }

.avr-review {
  margin-top: 20px; }
  .avr-review .review-text {
    display: block;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    float: left;
    font-style: italic; }

/* Cart styling */
.price {
  color: #ffab40;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
  margin: 0 0 0 0;
  display: inline; }

.edit_amount_margin {
  padding-left: 20px; }

.remove_from_cart {
  color: #cecece !important; }

.padding-round-buttons {
  padding-top: 5px; }

.cart-img {
  width: 200px;
  height: 200px; }

/* Front page styling */
.slider-image {
  background-size: cover;
  background-position: center center; }

.product-slider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.outer {
  width: 100%;
  margin: 0;
  padding: 40px 0 60px 0; }

.gray {
  background-color: #ebebeb; }

/* Blogpost styling */
.breadcrumb-nav {
  background: none;
  border: none;
  box-shadow: none; }
  .breadcrumb-nav .breadcrumb {
    color: #333; }

.breadcrumb::before {
  color: #333; }

.post-container {
  margin-top: 40px;
  max-width: 800px; }
  .post-container i {
    display: block;
    margin-bottom: 15px; }

/* Admin area */
.admin-area {
  background-color: #EBEBEB;
  /* Dashboard */
  /* New product styling */
  /* Image gallery */ }
  .admin-area nav.admin-topnav {
    margin-bottom: 40px; }
  .admin-area input.select-dropdown {
    margin: 0; }
  .admin-area .select-dropdown {
    margin-bottom: 0; }
  .admin-area .input-field {
    margin-top: 0; }
  .admin-area .new-prod-btn {
    margin-left: 35px; }
  .admin-area .new-prod-btn {
    margin-left: 15px; }
  .admin-area .collapsible-body {
    background-color: #fff; }
  .admin-area .richText .richText-toolbar ul li a {
    color: #212121; }
  .admin-area .admin-product-img {
    position: relative;
    margin-bottom: 20px;
    min-height: 1px;
    overflow: hidden; }
    .admin-area .admin-product-img .save-delete {
      text-align: center;
      text-transform: uppercase;
      font-style: italic;
      font-weight: bold;
      color: red;
      display: none;
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    .admin-area .admin-product-img .material-placeholder {
      height: 268px;
      overflow: hidden;
      position: relative; }
      .admin-area .admin-product-img .material-placeholder img {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        max-width: none;
        width: auto;
        height: 100%;
        margin: 0 auto; }
      .admin-area .admin-product-img .material-placeholder a {
        display: block;
        width: 100%; }
    .admin-area .admin-product-img .opague {
      opacity: 0.4; }
    .admin-area .admin-product-img .primary-label {
      background-color: gray;
      padding: 5px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      font-size: 10px;
      position: absolute;
      top: 5px;
      left: 5px; }
    .admin-area .admin-product-img .is-primary {
      background-color: #009688;
      display: block; }
  .admin-area .save-message {
    margin-bottom: 30px;
    font-weight: bold;
    color: red;
    display: none; }
    .admin-area .save-message p {
      margin: 0;
      padding: 0; }
  .admin-area .gallery-cnt .gallery-item {
    height: 268px;
    position: relative;
    width: 20%;
    float: left;
    overflow: hidden; }
    .admin-area .gallery-cnt .gallery-item .img-bg {
      background: red;
      width: 100%;
      padding: 0 5px; }
      .admin-area .gallery-cnt .gallery-item .img-bg img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
      .admin-area .gallery-cnt .gallery-item .img-bg .selected {
        border: 3px solid #212121;
        border-radius: 3px; }

/*# sourceMappingURL=custom.css.map */
