/* Variables */
$yellow: #f1c40f;
$light-green: #009688;

/* Mixins */

/* Base styling */
body {
  position: relative;
}

p {
  margin-bottom: 20px;
}

nav .brand-logo {
  display: inline-block;
  padding-left: 20px;
}

.product-container {
  margin-top: 60px;
}
/* Nav styling */
.brand-logo {
  display: block;
  margin-right: 20px;
}

/* Footer styling */
footer {
  margin: 0;
}

/* Product page styling */
h1.product-title {
  margin-top: 0;
}

.rated {
  color: $yellow;
}

.reviews-top {
  margin-bottom: 40px;
  .review-top-txt {
    margin-bottom: 20px;
  }
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .rated {
  float: left;
  color: transparent;
}

.rating label:last-child .rated {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .rated,
.rating:hover label:hover input ~ .rated {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .rated:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

.productimage-cnt {
  position: relative;
  .productimage-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
    .zoom-icon {
      color: #fff;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.5;
      cursor: pointer;
    }
  }
  &:hover {
    .productimage-overlay {
      opacity: 1;
    }
  }
}

img.full {
  position: absolute;
  top: 40px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  height: auto;
  z-index: 1000;
}

.static {
  position: static;
}

.responsive-img {
  cursor: pointer;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  z-index: 999;
  .close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    .line {
      width: 40px;
      height: 4px;
      background: #fff;
      position: absolute;
      top: 18px;
    }
    .line1 {
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }
    .close-txt {
      margin-left: 40px;
      display: block;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      opacity: 0;
    }
    .line2 {
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }
    &:hover {
      .line1 {
        top: 1px;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      .line2 {
        top: 36px;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      .close-txt {
        opacity: 1;
        margin-left: 0;
      }
    }
  }
}

.show {
  display: block;
}

.tabs {
  .tab {
    a {
      color: $light-green;
    }
    a.active {
      color: $light-green;
    }
    a:hover {
      color: $light-green;
    }
  }
  .indicator {
    background-color: $light-green;
  }
}

.cart-btt {
  margin-left: 20px;
}

/* Products page styling*/

#price-slider {
  margin-top: 40px;
}

/* Cart styling */
.price {
  color: #ffab40;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
  margin: 0 0 0 0;
  display: inline;
}

.edit_amount_margin {
  padding-left: 20px;
}

.remove_from_cart {
  color: #cecece!important;
}

.padding-round-buttons {
  padding-top: 5px;
}

/* Front page styling */
.slider-image {
  background-size: cover;
  background-position: center center;
}

.product-slider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.outer {
  width: 100%;
  margin: 0;
  padding: 40px 0 60px 0;
}

.gray {
  background-color: #ebebeb;
}

/* Blogpost styling */
.breadcrumb-nav {
  background: none;
  border: none;
  box-shadow: none;
  .breadcrumb {
    color: #333;
  }
}
.breadcrumb::before {
  color: #333;
}


.post-container {
  margin-top: 40px;
  max-width: 800px;
  i {
    display: block;
    margin-bottom: 15px;
  }
}

/* Admin area */
.admin-area {
  background-color: #EBEBEB;
  nav.admin-topnav {
    margin-bottom: 40px;
  }
  /* Dashboard */
  input.select-dropdown {
    margin: 0;
  }
  .select-dropdown {
    margin-bottom: 0;
  }
  .input-field {
    margin-top: 0;
  }
}
