/* Variables */
$yellow: #f1c40f;
$light-green: #009688;
$text-color: #212121;

/* Mixins */

/* Base styling */
body {
  position: relative;
}

p {
  margin-bottom: 20px;
}

nav .brand-logo {
  display: inline-block;
  padding-left: 20px;
}

.product-container {
  margin-top: 60px;
}
/* Nav styling */
.brand-logo {
  display: block;
  margin-right: 20px;
}

/* Footer styling */
footer {
  margin: 0;
}

/* Product page styling */
h1.product-title {
  margin-top: 0;
}

.rated {
  color: $yellow;
}

.reviews-top {
  margin-bottom: 40px;
  .review-top-txt {
    margin-bottom: 20px;
  }
}

/* Start rating form */
ul.stars-list {
  list-style: none;
  li {
    display: inline-block;
    cursor: pointer;
  }
}

.primary-img {
  width: 100%;
}

.gallery-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  float: left;
  margin: 5px 5px 0 0;
}

.show {
  display: block;
}

.tabs {
  .tab {
    a {
      color: $light-green;
    }
    a.active {
      color: $light-green;
    }
    a:hover {
      color: $light-green;
    }
  }
  .indicator {
    background-color: $light-green;
  }
}

.cart-btt {
  margin-left: 20px;
}

/* Products page styling*/

#price-slider {
  margin-top: 40px;
}

.review-meta {
  display: block;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin-top: 10px;
}
.avr-review {
  margin-top: 20px;
  .review-text {
    display: block;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    float: left;
    font-style: italic;
  }
}

/* Cart styling */
.price {
  color: #ffab40;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
  margin: 0 0 0 0;
  display: inline;
}

.edit_amount_margin {
  padding-left: 20px;
}

.remove_from_cart {
  color: #cecece!important;
}

.padding-round-buttons {
  padding-top: 5px;
}

.cart-img {
  width: 200px;
  height: 200px;
}

/* Front page styling */
.slider-image {
  background-size: cover;
  background-position: center center;
}

.product-slider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.outer {
  width: 100%;
  margin: 0;
  padding: 40px 0 60px 0;
}

.gray {
  background-color: #ebebeb;
}

/* Blogpost styling */
.breadcrumb-nav {
  background: none;
  border: none;
  box-shadow: none;
  .breadcrumb {
    color: #333;
  }
}
.breadcrumb::before {
  color: #333;
}


.post-container {
  margin-top: 40px;
  max-width: 800px;
  i {
    display: block;
    margin-bottom: 15px;
  }
}

/* Admin area */
.admin-area {
  background-color: #EBEBEB;
  nav.admin-topnav {
    margin-bottom: 40px;
  }
  /* Dashboard */
  input.select-dropdown {
    margin: 0;
  }
  .select-dropdown {
    margin-bottom: 0;
  }
  .input-field {
    margin-top: 0;
  }
  .new-prod-btn {
    margin-left: 35px;
  }
  /* New product styling */
  .new-prod-btn {
    margin-left: 15px;
  }
  .collapsible-body {
    background-color: #fff;
  }
  .richText .richText-toolbar ul li a {
    color: $text-color;
  }

  .deleted {
    padding: 0 10px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    .deleted-txt {
      text-align: center;
      padding: 10px;
      background-color: #E5EFE6;
      border: 1px solid darken(#E5EFE6, 20%);
      border-radius: 3px;
    }
  }

  .admin-product-img {
    position: relative;
    margin-bottom: 20px;
    min-height: 1px;
    overflow: hidden;
    .save-delete {
      text-align: center;
      text-transform: uppercase;
      font-style: italic;
      font-weight: bold;
      color: red;
      display: none;
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    .material-placeholder {
      height: 268px;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        max-width: none;
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
      a {
        display: block;
        width: 100%;
      }
    }
    .opague {
      opacity: 0.4;
    }
    .primary-label {
      background-color: gray;
      padding: 5px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      font-size: 10px;
      position: absolute;
      top: 5px;
      left: 5px;
    }
    .is-primary {
      background-color: $light-green;
      display: block;
    }
  }
  .save-message {
    margin-bottom: 30px;
    font-weight: bold;
    color: red;
    display: none;
    p {
      margin: 0;
      padding: 0;
    }
  }

  /* Image gallery */
  .gallery-cnt {
    .gallery-item {
      height: 268px;
      position: relative;
      width: 20%;
      float: left;
      overflow: hidden;
      .img-bg {
        background: red;
        width: 100%;
        padding: 0 5px;
        img {
          width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          -moz-transform: translateX(-50%) translateY(-50%);
          -webkit-transform: translateX(-50%) translateY(-50%);
          -o-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
        }
        .selected {
          border: 3px solid $text-color;
          border-radius: 3px;
        }
      }
    }
  }
  /* Settings area */
  .settings-content {
    background-color: #fff;
    padding: 30px;
  }

  .formContainer {
    display: block;
    min-height: 1px;
    overflow: hidden;
    padding: 10px;
  }
}
